.leaderboardContainer {
    background-image: url("../Images/pokedexbackgroundtexture.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-family: "pkmn_rbygscregular", serif;
    font-size: 0.8rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.leaderboardWrapper {
    background-color: rgb(97, 134, 142);
    border: 3px solid rgb(34, 238, 2);
    box-shadow: 0 0 1px 8px rgb(135, 132, 132);
    border-radius: 1rem;
    height: 80vh;
    width: 65vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.leaderboardWrapperInside {
    background-color: rgb(201, 224, 232);
    border: 4px solid rgb(170, 185, 186);
    height: 70vh;
    width: 55vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    box-sizing: border-box;
    border-radius: 0.5rem;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: rgb(34, 238, 2) rgb(97, 134, 142);
    
}

.leaderboardTitle {
    color: rgb(99, 99, 99);
    border-bottom: 6px solid rgb(98, 98, 98);
    padding: 0.2rem 2rem;
}

.leaderboardContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box; 
}

.itemTitle {
    font-size: 0.9rem;
    font-weight: bold;
    color: black;
    text-align: left;
    padding: 0rem;
    margin: 0;
    border-bottom: 3px solid black;
    width: 100%;
}

.leaderboardTable {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
}

.leaderboardTableItem {
    border: 6px solid rgb(99, 99, 99);
    background-color: rgb(214, 246, 251);
    border-radius: 1rem;
    width: 100%;
    box-sizing: border-box;
    padding: 0.6rem 1.2rem;
    margin: 0.6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.firstPlace {
    border: 6px solid rgb(250, 238, 4);
    background-color: #f4c116;
}

.secondPlace {
    border: 6px solid rgb(255, 255, 255);
    background-color: rgb(240, 240, 240);
}

.thirdPlace {
    border: 6px solid #985c21;
    background-color: #CD7F32;
}

.leaderboardTableItem p {
    width: 100%;
    text-align: left;
    margin: 0;
    padding: 0.4rem 0rem;
    box-sizing: border-box;
    font-size: 0.6rem;
    color: black;
}

.itemLeft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: stretch;
    box-sizing: border-box;
    height: 80px;
}

.itemRight {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    box-sizing: border-box;
}

.itemImage {
    box-sizing: border-box;
    object-fit: cover;
    object-position: center;
    width: 120px;
    height: 70px;
}